.demo-content-box {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  background-color: rgba(40, 44, 52, 0.8);
  color: white;
}



.tooltip {
  /* triangle dimension */
  --b: 2em; /* base */
  --h: 1em; /* height */

  --p: 100%; /* triangle position (0%:left 100%:right) */
  --r: 1.2em; /* the radius */
  --c: #4ECDC4;

  color: #fff;
  font-size: 36px;
  max-width: 28ch;
  text-align: center;
  float: right;

  padding: 1em;
  border-radius: var(--r) var(--r) min(var(--r),100% - var(--p) - var(--b)/2) min(var(--r),var(--p) - var(--b)/2)/var(--r);
  clip-path: polygon(0 100%,0 0,100% 0,100% 100%, min(100%,var(--p) + var(--b)/2) 100%, var(--p) calc(100% + var(--h)), max(0%  ,var(--p) - var(--b)/2) 100%);
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0/
            var(--r) calc(100% - var(--p) - var(--b)/2) 0 calc(var(--p) - var(--b)/2)/
            0 0 var(--h) 0;
}
