.job-posting {
  margin-bottom: 20px;
}

.job-posting h2 {
  font-size: 1.5em;
  color: #0f62fe;
}

.job-posting p {
  margin: 5px 0;
}

.job-posting a {
  color: #0f62fe;
  text-decoration: underline;
}

.job-posting a:hover {
  text-decoration: none;
  color: #0043ce;
}
